
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic
}
input,
button,
select,
textarea,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
body {
	margin: 0;
	font-size: 0.9rem;
	line-height: 1.5em;
	color: #333;
	background-color: #f6f6f6;
	text-rendering: optimizelegibility;
}
a {
	color: #9d261d;
	text-decoration: none
}
a:hover {
	color: #5c1611;
	text-decoration: underline
}

/* Grid */
.row {
	width: 100%;
	*zoom: 1;
}
.row:before,
.row:after {
	display: table;
	content: ""
}
.row:after {
	clear: both;
}
.row>[class*="span"] {
	float: left;
	margin-left: 2.127659574%
}
.row>[class*="span"]:first-child {
	margin-left: 0
}
.row>.span1 {
	width: 6.382978723%;
}
.row>.span2 {
	width: 14.89361702%;
}
.row>.span3 {
	width: 23.404255317%;
}
.row>.span4 {
	width: 31.914893614%;
}
.row>.span5 {
	width: 40.425531911%;
}
.row>.span6 {
	width: 48.93617020799999%;
}
.row>.span7 {
	width: 57.446808505%;
}
.row>.span8 {
	width: 65.95744680199999%;
}
.row>.span9 {
	width: 74.468085099%;
}
.row>.span10 {
	width: 82.97872339599999%;
}
.row>.span11 {
	width: 91.489361693%;
}
.row>.span12 {
	width: 99.99999998999999%;
}

/* Container */
.container {
	margin-left: auto;
	margin-right: auto;
}
.container:before,
.container:after {
	display: table;
	content: ""
}
.container:after {
	clear: both
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: bold;
	color: #333;
}
h1 {
	font-size: 30px;
	line-height: 42px
}
h1 small {
	font-size: 18px
}
h2 {
	font-size: 24px;
	line-height: 42px
}
h2 small {
	font-size: 18px
}
h3 {
	line-height: 31.5px;
	font-size: 18px
}
h3 small {
	font-size: 14px
}
h4,h5,h6 {
	line-height: 21px
}
h4 {
	font-size: 14px
}
h4 small {
	font-size: 12px
}
h5 {
	font-size: 12px
}
h6 {
	font-size: 11px;
	color: #999;
	text-transform: uppercase
}

ul,
ol {
	padding: 0;
	margin: 1em 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
ul {
	list-style: disc
}
ol {
	list-style: decimal
}

hr {
	margin: 21px 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff
}

code,
pre {
	padding: 0 3px 2px;
	font-family: Menlo,Monaco,"Courier New",monospace;
	font-size: 13px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	padding: 3px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8
}
pre {
	display: block;
	padding: 10px;
	margin: 0 0 10.5px;
	font-size: 12px;
	line-height: 21px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word
}
pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0
}
table {
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0
}

form {
	margin: 0;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 31.5px;
	font-size: 21px;
	line-height: 42px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #eee
}

input[type=text],
input[type=search],
textarea,
select {
	margin: 0;
	outline: 0;
	display: inline-block;
	width: 15em;
	padding: 0.2em 0.5em;
	font-size: 1em;
	line-height: 1.5em;
	color: #555;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
select {
	line-height: 1.6em;
	padding-right: 2em;
	vertical-align: middle;
	cursor: pointer;
	background-clip: padding-box;
	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='64px' height='48px' viewBox='0 0 64 48' enable-background='new 0 0 64 48' xml:space='preserve'><path fill='rgb(120, 120, 120)' d='M13.5,18.4c0,0.6,0.2,1.2,0.7,1.7c0.4,0.5,1,0.7,1.6,0.7H48c0.6,0,1.2-0.2,1.6-0.7c0.4-0.5,0.7-1,0.7-1.6 c0-0.7-0.2-1.3-0.6-1.7l-16.1-16c-0.5-0.5-1-0.7-1.7-0.7c-0.7,0-1.2,0.2-1.6,0.7l-16.1,16C13.7,17.2,13.5,17.8,13.5,18.4L13.5,18.4z M13.5,29.5c0,0.7,0.2,1.3,0.6,1.7l16.1,16c0.5,0.5,1,0.7,1.7,0.7s1.2-0.2,1.7-0.7l16.1-16.1c0.4-0.4,0.6-1,0.6-1.7 c0-0.6-0.2-1.1-0.7-1.6c-0.4-0.5-1-0.7-1.6-0.7H15.7c-0.6,0-1.1,0.2-1.6,0.7C13.7,28.3,13.5,28.8,13.5,29.5L13.5,29.5z'/></svg>");
	background-repeat: no-repeat;
	background-position: right center;
	background-position: (100% - 0.2em) 60%;
	background-position: calc(100% - 0.2em) 60%;
	background-size: 1.1em auto;
}
input[type=text]:focus,
input[type=search]:focus,
textarea:focus,
select:focus {
	border-color: yellow;
}
label input,
label textarea,
label select {
	display: block
}
input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

:-moz-placeholder,
::-webkit-input-placeholder {
	color: #999
}

/* Toggles */
.toggles {
	padding: 10px;
}
.toggles .form-control {
	display: inline-block;
	margin-left: 2em;
}

/* Forms */
.form-search input,
.form-inline input,
.form-search textarea,
.form-inline textarea,
.form-search select,
.form-inline select {
	display: inline-block;
	margin-bottom: 0
}
.form-search label,
.form-inline label {
	display: inline-block
}

/* Nav */
.nav {
	margin-left: 0;
	margin-bottom: 21px;
	list-style: none
}
.nav>li>a {
	display: block
}
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eee
}

.navbar {
	background-color: #2c2c2c;
}
.navbar-inner {
	padding: 0 10px;
}
.navbar .brand:hover {
	text-decoration: none
}
.navbar .brand {
	display: block;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	color: #fff
}
.navbar .navbar-text {
	margin-bottom: 0;
	line-height: 40px;
	color: #999
}
.navbar .navbar-text a:hover {
	color: #fff;
	background-color: transparent
}
.navbar .btn,
.navbar .btn-group {
	margin-top: 5px
}
.navbar .btn-group .btn {
	margin-top: 0
}
.navbar-form {
	margin-bottom: 0;
}
.navbar-form:before,
.navbar-form:after {
	display: table;
	content: ""
}
.navbar-form:after {
	clear: both
}
.navbar-form label {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.navbar-form .form-control {
	display: inline-block;
	margin: 0.4em 0 0 0.2em;
}
/*.navbar-form select {
	background: transparent;
	border: none;
	color: #ccc;
}*/

.navbar-fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	margin: 0 10px 0 0;
}
.navbar .nav>li {
	display: block;
}
.navbar .nav>li>a {
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
}
.navbar .nav>li>a:hover {
	background-color: transparent;
	color: #fff;
	text-decoration: none
}
.navbar .nav .active>a,
.navbar .nav .active>a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #222
}
.navbar .brand {
	padding: 11px 20px 9px
}
.navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.navbar .nav>li>a {
	padding: 12px 10px 9px
}

.hide {
	display: none
}
.show {
	display: block
}
.invisible {
	visibility: hidden
}
.clearfix {
	*zoom: 1
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: ""
}
.clearfix:after {
	clear: both
}

footer {
	color: #999;
	border-top: 1px solid #eee;
	margin-top: 60px;
	padding-top: 20px;
	padding-bottom: 60px;
	text-align: center;
}

#all-specimens,
#specimens-by-type {
	padding-top: 80px;
	position: relative;
}

/* Size adjustment */
.size-adjust {
	display: none;
	white-space: nowrap;
	padding-right: 2em;
}
.size-adjust a {
	display: inline-block;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	color: rgba(255, 255, 255, 0.3);
	padding-top: 10px;
}
.size-adjust a:before {
	font-family: "museo-slab", "Times New Roman", Times, serif;
	content: "A";
	margin-right: 1em;
}
.size-adjust a.selected {
	color: rgba(255, 255, 255, 0.7);
}
.size-adjust a:hover {
	color: rgba(255, 255, 255, 0.9);
}
.size-adjust .size-small {
	font-size: 1em;
}
.size-adjust .size-large {
	font-size: 1.5em;
}

/* Specimen */
.specimens {
	list-style: none;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
.specimens:before,
.specimens:after {
	content: "";
	display: table;
	line-height: 0;
}
.specimens:after {
	clear: both;
}
.specimens li {
	position: relative;
	float: left;
	margin: 10px;
	display: flex;
}
.specimen-content {
	color: #888;
	background: #fcfcfc;
	border: 2px solid #ececec;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	text-align: center;
	transition: all 0.2s ease;
	overflow: hidden;
	width: 100%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all ease 0.2s;
	transition: all ease 0.2s;
	flex-direction: column;
}
.specimen-content>div {
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	max-height: 100%;
}
.specimen-content>.specimen-details {
	flex-grow: 0;
}
.specimen-figure {
	padding: 1em;
}
.specimen-details {
	/*background: rgba(0, 0, 0, 0.04);*/
	border-top: 1px solid rgba(0, 0, 0, 0.04);
	padding: 1em;
	font-size: 0.85em;
}
.specimen-details .name {
	width: 100%;
}
.specimen-content:hover {
	background-color: #fff;
	border-color: #222;
	color: #222;
}

figure {
	color: #777;
	margin: 0 auto;
	vertical-align: middle;
}
figure svg {
	width: 100%;
	fill: currentColor;
	vertical-align: middle;
}
/*figure .outline,
figure .fenestra,
figure .teeth {
	fill: transparent;
}*/

figure .outline path {
	fill: #f3d3a8;
	fill: none;
	stroke: none;
	stroke-width: 6;
	stroke-miterlimit: 10;
}
figure .skull path {
	fill: none;
	stroke: #231f20;
	stroke-width: 1;
	stroke-miterlimit: 10;
}
figure .skull .base {
	fill: #ebebe5;
}
figure .fenestrae path {
	fill: none;
	stroke-width: 1;
	stroke-miterlimit: 10;
}
figure .teeth path {
	fill: none;
	stroke: #231f20;
	stroke-width: 1;
	stroke-miterlimit: 10;
}

.show-outline figure .outline path {
	stroke: #f3d3a8;
}
.show-fenestrae figure .fenestrae path {
	fill: #231f20;
}
.show-teeth figure .teeth path {
	fill: #cdad6e;
}
/*.specimens figure:hover .skull,
.specimens figure:hover .teeth,
.specimens figure:hover .fenestra {
	fill: #666;
}*/

.small .specimens li {
	width: 210px;
}
.small .specimen-figure {
	height: 210px;
}
.large .specimens li {
	width: 440px;
}
.large .specimen-figure {
	height: 440px;
}

/* Phylogeny */
.tree {
	margin: 30px 0;
}
.tree ul {
	margin: 0;
	padding: 0;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li {
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 1em 0 1em 4em;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li:before,
.tree li:after {
	content: '';
	position: absolute;
	top: 1em;
	left: -2em;
	border-top: 1px solid #ccc;
	width: 2em;
	height: 1px;
}
.tree li:after {
	bottom: 0;
	top: -1em;
	height: auto;
	border-left: 1px solid #ccc;
	border-top: none;
}
.tree li:last-child:after {
	bottom: auto;
	height: 2em;
	top: -1em;
	border-bottom: 1px solid #ccc;
}
.tree li:last-child:before {
	display: none;
}
.tree>ul>li {
	margin-left: 0;
}
.tree>ul>li:before,
.tree>ul>li:after {
	display: none;
}
.tree li a {
	border: 1px solid #ccc;
	padding: 0.3em 0.8em;
	text-decoration: none;
	color: #666;
	font-size: 0.85em;
	display: inline-block;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.tree li a:hover, 
.tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}
.tree li a:hover+ul li:after, 
.tree li a:hover+ul li:before, 
.tree li a:hover+ul:before, 
.tree li a:hover+ul ul:before{
	border-color:  #94a0b4;
}

/* Responsive */
@media (min-width: 776px) {
	#all-specimens,
	#specimens-by-type {
		padding-top: 60px;
		position: relative;
	}
	.navbar .brand {
		float: left;
	}
	.navbar .nav {
		float: right;
	}
	.navbar .nav>li {
		float: left
	}
	.size-adjust {
		display: block;
	}
	.container {
		width: 930px;
	}
}
