/*

	-- -- -- -- -- -- --
	main template CSS

	where all the magic happens
	-- -- -- -- -- -- --

*/

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

	html {
		font-family: sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}

/* Body */
	body {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
		font-size: 0.9em;
		font-weight: 400;
		line-height: 1.7em;
		color: #666;
		background: #fff;
		text-rendering: optimizeLegibility;
	}

/* Inputs */
	input[type=text],
	input[type=password],
	input[type=email],
	textarea {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
		font-size: 1em;
		line-height: 1.61803399em;
		max-width: 100%;
		padding: 0.4045084975em;
		outline: none;
		border: 1px solid #D9D9D9;
		border-color: rgba(0, 0, 0, .19) rgba(0, 0, 0, .13) rgba(0, 0, 0, .07);
		background: #F0F0F0;
		background: rgba(0, 0, 0, .039);
		-webkit-background-clip: padding-box;
		   -moz-background-clip: padding-box;
		    -ms-background-clip: padding-box;
		     -o-background-clip: padding-box;
		        background-clip: padding-box;
		-webkit-border-radius: 1px;
		   -moz-border-radius: 1px;
		    -ms-border-radius: 1px;
		     -o-border-radius: 1px;
		        border-radius: 1px;
		-webkit-transition: all 0.1s ease-out;
		   -moz-transition: all 0.1s ease-out;
		    -ms-transition: all 0.1s ease-out;
		     -o-transition: all 0.1s ease-out;
		        transition: all 0.1s ease-out;
	}
	textarea:focus, 
	input[type="text"]:focus, 
	input[type="password"]:focus, 
	input[type="file"]:focus {
		background-color: #fff;
		border-color: #0fa1ca;
	}
	.placeholder-support {
		color:#aaa;
	}

/* Links */
	a, 
	a:active, 
	a:visited {
		text-decoration: none;
		color: #c8ab77;
	}
	a:hover {
		color: #222;
		border-bottom: 1px solid #999;
	}

/* Elements */
	/* Prevents sub and sup affecting line-height in all browsers */
	sub,
	sup {
		position: relative;
		font-size: 75%;
		line-height: 0;
		vertical-align: baseline;
	}
	sup {
		top: -0.5em;
	}
	sub {
		bottom: -0.25em;
	}
	b,
	strong {
		font-weight: bold;
	}
	i,
	em {
		font-style: italic;
	}

	/* Lists */
	ul {
		list-style: disc;
		margin: 0 0 0 2em;
	}
	ul li {
		margin: 0.5em 0;
	}
	ol {
		list-style: decimal;
		margin: 0 0 0 2em;
	}
	ol li {
		margin: 0.5em 0;
	}
	iframe {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	p {
		margin: 1em 0;
	}
	hr {
		clear: both;
		height: 1px;
		background: #ddd;
		margin: 2em 0;
		border: none;
	}
	abbr {
		border-bottom: 1px dotted #333;
	}
	dfn {
		font-style: italic;
	}
	dl dt {
		font-weight: bold;
	}
	dl dd {
		margin-left: 2em;
	}
	img {
		border: 0;
	}

/* Headers */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #6E6D6D;
		font-weight: 600;
		font-weight: normal;
		color: #484848;
		margin: 1em 0;
		/*font-family: 'Lora', "Libre Baskerville", 'Georgia', serif;*/
	}
	h1 {
		font-size: 2.2em;
	}
	h2 {
		line-height: 1.3;
		font-size: 1.9em;
	}
	h3 {
		font-size: 1.6em;
	}
	h4,
	h5,
	h6 {
		font-weight: bold;
	}
	blockquote {
		margin-left: 2em;
		color: #888;
		position: relative;
		background-color: #fff;
	}
	blockquote:before {
		content: "\275D";
		font-family: 'Fontcons';
		position: absolute;
		top: 0;
		left: -2em;
		color: #ccc;
	}

/* Pre, Code, TrueType. */
	pre {
		font-family: "Bitstream Vera Sans Mono", Courier, Monaco, ProFont, "American Typewriter", "Andale Mono", monospace;
		color: #555;
		margin: 1em 0 1em 0;
		padding: 0.5em 1em;
		font-size: 0.85em;
		line-height: 1.95em;
		word-wrap: break-word;
		white-space: pre;
		white-space: -moz-pre-wrap;
		white-space: -o-pre-wrap;
		white-space: -pre-wrap;
		white-space: pre-wrap;
		border: 1px solid #d7d7d7;
		background-color: #fff; 
		background-image: -webkit-linear-gradient(#eee 1px, transparent 1px),
						  -webkit-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
		background-image: -moz-linear-gradient(#eee 1px, transparent 1px),
						  -moz-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
		background-image: -ms-linear-gradient(#eee 1px, transparent 1px),
						  -ms-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
		background-image: -o-linear-gradient(#eee 1px, transparent 1px),
						  -o-linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
		background-image: linear-gradient(#eee 1px, transparent 1px),
						  linear-gradient(0deg, transparent 1em, #eee 1em, #eee 1.1em, transparent 1.1em);
		background-size: 100% 1.95em;
		background-position: 0 -1px;
		-webkit-border-radius: 0.25em;
		   -moz-border-radius: 0.25em;
		    -ms-border-radius: 0.25em;
		     -o-border-radius: 0.25em;
		        border-radius: 0.25em;
	}
	body .wikipage pre,
	body .wikipage .pre,
	.pre {
		background-color: #fff; 
	}
	code,
	tt {
		border: 1px solid #d7d7d7;
		background-color: #fff;
		font-family: "Bitstream Vera Sans Mono", Courier, Monaco, ProFont, "American Typewriter", "Andale Mono", monospace;
		font-size: 0.91em;
		padding: 0.2em 0.4em;
		-webkit-border-radius: 0.25em;
		   -moz-border-radius: 0.25em;
		    -ms-border-radius: 0.25em;
		     -o-border-radius: 0.25em;
		        border-radius: 0.25em;
	}

/* Table */
	table {
		clear: left;
		width: 100%;
		text-align: left;
		font-size: 1em;
		border-collapse: collapse;
		border-bottom: 1px dashed #dadada;

	}
	table caption {
		line-height: 1.6em;
		padding: 0.4045084975em 0.61803399em;
		text-align: left;
	}
	table th,
	table td {
		vertical-align: top;
		line-height: 1.6em;
		padding: 0.4045084975em 0.61803399em;
		border-bottom: 1px solid #dadada;
	}
	table th {
		font-weight: bold;
		white-space: nowrap;
	}

/* Shortcuts */
	#page {
		background: #fff;
		color: #333;
	}


	.specimen {
		border: 1px solid rgba(0, 0, 0, 0.1);
		text-align: center;
		padding: 2em;
		margin: 1em 0;
	}

	figure {
		color: #ccc;
		width: 300px;
		margin: 0 auto;
	}
	figure svg {
		height: 100%;
		fill: currentColor;
	}
	figure .fenestra {
		fill: red;
	}
	figure .teeth {
		fill: green;
	}
	figure:hover .skull,
	figure:hover .teeth,
	figure:hover .fenestra {
		fill: #666;
	}

	.site-info {
		display: table-row;
	}
	.copyright {
		vertical-align: bottom;
		display: table-cell;
		text-align: center;
		font-size: 0.9em;
		color: #fff;
		color: rgba(255, 255, 255, 0.5);
	}

/* Content */
	#content {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		color: #777;
	}
	#content .inner {
		padding: 4.2em;
		padding: 3.3em;
		margin: 3.3em auto 0 auto;
		max-width: 800px;
	}
	#content:after {
		content: "";
		display: table;
		line-height: 0;
		clear: both;
	}

	#footer {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		border-top: 1px solid #f1f1f1;
		color: #888;
	}
	#footer .inner {
		padding: 4.2em;
	}

/* Nav */
	#nav {
		background: #fff;
		border-bottom: 1px solid #e1e1e1;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		font-size: 0.8em;
		-webkit-transition: box-shadow .3s;
		   -moz-transition: box-shadow .3s;
		    -ms-transition: box-shadow .3s;
		     -o-transition: box-shadow .3s;
		        transition: box-shadow .3s;
		box-shadow: none;
	}
	#nav.fixed {
		box-shadow: 0 0px 1px 3px rgba(0, 0, 0, 0.05);
		z-index: 790;
	}
	#nav h2 {
		display: none;
	}
	#nav:before,
	#nav:after {
		content: "";
		display: table;
		height: 0;
		line-height: 0;
		visibility: hidden;
	}
	#nav:after {
		clear: both;
	}
	#nav ul.menu,
	#nav ul.menu li,
	#nav ul.menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#nav ul.menu {
		position: relative;
		z-index: 797;
		float: left;
		padding: 0;
		width: 100%;
	}
	#nav ul.menu li {
		float: left;
		line-height: 1;
		vertical-align: middle;
		zoom: 1;
	}
	#nav ul.menu li:hover,
	#nav ul.menu li:focus {
		position: relative;
		z-index: 799;
		cursor: default;
	}
	#nav ul.menu ul {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 798;
		width: 100%;
	}
	#nav ul.menu ul li {
		float: none;
	}
	#nav ul.menu ul ul {
		top: 1px;
		left: 99%;
	}
	#nav ul.menu li:hover > ul,
	#nav ul.menu li:focus > ul {
		visibility: visible;
	}
	/* Drop-Down Menu Theme */
	#nav ul.menu {
		font-weight: normal;
	}
	#nav ul.menu li {
		padding: 0;
		border: none;
		color: #343434;
	}
	#nav ul.menu li:hover {
		color: #FF9966;
	}
	#nav ul.menu>li.active>a,
	#nav ul.menu li.active a {
		color: #222;
		position: relative;
		background-color: #f1f1f1;
	}
	#nav ul.menu li.active li a {
		color: #fff;
		background: transparent;
	}
	#nav ul.menu li li.active a {
		color: #fff;
		background: transparent;
	}
	#nav ul.menu>li.active>a:after {
		content: "";
		display: block;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 2px;
		background: #3e3e3e;
	}
	#nav ul.menu>li.active:hover>a:after,
	#nav ul.menu>li.active>a:hover:after {
		display: none;
	}

	#nav ul.menu span.separator {
		display: block;
		padding: 1.6em 1.675em 0.8em 1.675em;
		border: none;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.075em;
	}
	#nav ul.menu a {
		display: block;
		border: none;
		color: #747474;
	}
	#nav ul.menu>li>a {
		padding: 1.6em 1.675em;
		border-right: 1px solid #eee;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		font-weight: 500;
	}
	#nav ul.menu ul li a {
		padding: 1em 1.675em;
		text-transform: none;
		color: #747474;
		border: none;
	}
	#nav ul.menu li:hover > a,
	#nav ul.menu li:focus > a { 
		color: #111;
	}
	#nav ul.menu li.active li a {
		color: #747474;
	}
	#nav ul.menu li.active li a:hover,
	#nav ul.menu li.active li a:focus,
	#nav ul.menu a:hover,
	#nav ul.menu a:focus { 
		color: #111;
	}
	#nav ul.menu li.parent:hover>a,
	#nav ul.menu li.parent:focus>a,
	#nav ul.menu li.parent>a:hover,
	#nav ul.menu li.parent>a:focus {
		background-color: #FFF;
	}
	#nav ul.menu li.active:hover>a,
	#nav ul.menu li.active:focus>a,
	#nav ul.menu ul li.active>a,
	#nav ul.menu ul li a:hover,
	#nav ul.menu ul li a:focus,
	#nav ul.menu li.parent>ul li a:hover,
	#nav ul.menu li.parent>ul li a:focus { 
		background-color: #e1e1e1;
	}
	#nav ul.menu a:active { 
		color: #ECECC4;
	}
	/* Second level */
	#nav ul.menu ul {
		width: 16em;
		padding: 0 0 0.6em 0;
		background: #fff;
		border: 1px solid #ddd;
		border-top: none;
	}
	/* Third level */
	#nav ul.menu ul ul {
		border: 1px solid rgba(0, 0, 0, 0.4);
	}
	/* No poiner for third level */
	#nav ul.menu ul ul small.nav-ul-after,
	#nav ul.menu ul ul:after {
		display: none;
	}
	#nav ul.menu ul li {
		font-weight: normal;
		background: none;
	}
	/* Arrow indicating another level */
	#nav ul.menu ul li.parent>a:after {
		font-family: 'Fontcons';
		content: "\203A";
		font-size: 0.85em;
		line-height: 1.2em;
		display: block;
		float: right;
		width: 1em;
		height: 1em;
		text-align: right;
	}

	#nav ul.menu li.item-39 {
		float: right;
		border-right: none;
		border-left: 1px solid #eee;
	}
	#nav .search:before {
		content: "\f002";
		font-family: "Fontcons";
		/*font-family: 'et-line';
		content: "\e027";
		color: #222;*/
		margin-right: 0.5em;
		font-size: 1em;
	}
	#nav .cart:before {
		content: "\f04d";
		content: "\f07a";
		font-family: "Fontcons";
		/*font-family: 'et-line';
		content: "\e027";
		color: #222;*/
		margin-right: 0.5em;
		font-size: 1em;
	}

	.tabs {
		list-style: none;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #ccc;
	}
	.tabs:before,
	.tabs:after {
		content: "";
		line-height: 0;
		display: table;
	}
	.tabs:after {
		clear: both;
	}
	.tabs li {
		float: left;
		margin: 0;
		padding: 0;
	}
	.tabs li a {
		position: relative;
		top: 1px;
		text-decoration: none;
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: 1px solid transparent;
		padding: 0.75em 1.25em;
		text-align: center;
		line-height: 1;
		color: #999;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		font-weight: 500;
		font-size: 0.9em;
	}
	.tabs li.active a {
		color: #666;
		border-color: #ccc;
		border-bottom: 1px solid #fff;
	}


	.profiles:before,
	.profiles:after {
		content: "";
		display: table;
		line-height: 0;
	}
	.profiles:after {
		clear: both;
	}
	.profiles .profile {
		padding: 30px 60px 30px 0;
		margin: 0;
		display: block;
		float: left;
		width: 50%;
		position: relative;
	}
	.profiles figure {
		position: relative;
		border: none;
		overflow: hidden;
		text-align: center;
		cursor: pointer;
	}
	.profiles figure svg {
		width: 100%;
		opacity: 1;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
		fill: #bbb;
		margin: 0;
	}
	.profiles .profile:nth-child(even) {
		padding: 30px 0px 30px 60px;
	}
	.profiles .profile:before {
		content: "";
		background: #e1e1e1;
		width: 1.4em;
		height: 1px;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -1px;
	}
	.profiles .profile:after {
		content: "";
		background: #e1e1e1;
		width: 0.5em;
		height: 0.5em;
		position: absolute;
		top: 50%;
		right: 1.5em;
		margin-top: -0.25em;
	}
	.profiles .profile:nth-child(even):after {
		right: auto;
		left: 1.5em;
	}
	.profiles .profile:nth-child(even):before {
		right: auto;
		left: 0;
	}
	/*.profiles .diagram h3 {
		opacity: 0;
		background: rgba(230, 230, 230, 0.8);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: all .2s ease-in-out;
	}*/
	.profiles figure img {
		position: relative;
		display: block;
		/*min-height: 100%;*/
		max-width: 100%;
		opacity: 1;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
	}
	.profiles figure figcaption {
		padding: 2em;
		font-style: italic;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.profiles figure figcaption:before,
	.profiles figure figcaption:after {
		pointer-events: none;
	}
	.profiles figure figcaption,
	.profiles figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.profiles figure figcaption > a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}

.profiles figure figcaption {
	padding: 3em;
}
.profiles figure figcaption:before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #666;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.profiles figure figcaption:before,
.profiles figure h3 {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.profiles figure h3 {
	padding: 20% 0 20px 0;
	font-size: 1.2em;
}
.profiles figure h3 strong {
	display: block;
}

.profiles figure p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.profiles figure:hover figcaption:before,
.profiles figure:hover h3 {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.profiles figure:hover svg,
.profiles figure:hover img {
	opacity: 0.3;
}
